/* Основной контейнер страницы */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Устанавливаем высоту на 100% экрана */
  }
  
  /* Основной контент, который будет расти */
  .mainContent {
    flex-grow: 1; /* Главный контент будет занимать все доступное пространство */
  }
  