.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
}


.inputField {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.errorMessage { 
    color: red;
    font-size: 12px;
}

.submitButton {
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}